<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cow Talk</title>
    </head>
    <body>
        <a href={% url 'homepage' %}>Home</a>
        <a href={% url 'history' %}>Recent</a>
        <h1>Cow Talk</h1>
        <h3>If you make them talk, cows have a robust vocabulary...</h3>
        <form action='' method='POST'>
        {% csrf_token %}
        {{ form }}
        <button type='submit'>Speak!</button>
        </form>
        {% if output %}  
            <pre>
{{ output }}
            </pre>
        {% endif %}
    </body>
</html>
